@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

:where(.css-dev-only-do-not-override-qgg3xn).ant-pagination .ant-pagination-options {
    display: none;
}
.ant-space-item{
    width: 100%;
}
.ant-btn{
    background-color: #1677ff;
}
.option-list::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
}
.option-list::-webkit-scrollbar-thumb{
    background-color:  rgb(196, 196, 196);
}
body::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color:  rgb(167, 166, 166);
}

.swiper-button-prev:after, .swiper-button-next:after{
    color : #FB923C;
    font-size: 25px;
}